*{
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    background-color: azure;
}
button{
    background-color:silver;
}